[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        signingkey = SIGNING_KEY
[gpg]
        format = GPG_FORMAT
[commit]
        gpgsign = GPG_SIGN
[tag]
        gpgSign = GPG_SIGN
[credential]
        helper = GIT_CREDENTIAL_HELPER

# vim:ft=git_config:
