AZURE_DEVOPS_API_TOKEN=
AZURE_DEVOPS_ORGANIZATION=deloittefrance
AZURE_DEVOPS_PROJECT=PRDAAP1440
AZURE_DEVOPS_REPOSITORY_ID=PRDAAP1440
# Optional: defaults to azure-devops-user for Azure DevOps basic auth
# AZURE_DEVOPS_USERNAME=azure-devops-user
# Optional: defaults to 7.1
# AZURE_DEVOPS_API_VERSION=7.1
